# Eclipse specific files
.classpath
.project
.settings/
test-output
# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse, VS Code project files
*.launch
*.diff
*.patch
.vscode/

# Java specific files
*.class
*.log
*.jar
*.war
*.ear

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db

